channels:
  - rdkit
  - sdaxen
  - conda-forge
  - keiserlab
dependencies:
  - python=3
  - mmh3>=2.3.1
  - rdkit>=2016.03.4
  - numpy>=1.11.3
  - scipy>=0.18.0
  - sdaxen_python_utilities>=0.1.4
  - cython>=0.25.2
  - setuptools
